<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>One Movies an Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href={{url_for('static',filename="css/bootstrap.css")}} rel="stylesheet" type="text/css" media="all" />
<link href={{url_for('static',filename="css/style.css")}} rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href={{url_for('static',filename="css/contactstyle.css")}} type="text/css" media="all" />
<link rel="stylesheet" href={{url_for('static',filename="css/faqstyle.css")}} type="text/css" media="all" />
<link href={{url_for('static',filename="css/single.css")}} rel='stylesheet' type='text/css' />
<link href={{url_for('static',filename="css/medile.css")}} rel='stylesheet' type='text/css' />
<!-- banner-slider -->
<link href={{url_for('static',filename="css/jquery.slidey.min.css")}} rel="stylesheet">
<!-- //banner-slider -->
<!-- pop-up -->
<link href={{url_for('static',filename="css/popuo-box.css")}} rel="stylesheet" type="text/css" media="all" />
<!-- //pop-up -->
<!-- font-awesome icons -->
<link rel="stylesheet" href={{url_for('static',filename="css/font-awesome.min.css")}} />
<!-- //font-awesome icons -->
<!-- js -->
<script type="text/javascript" src={{url_for('static',filename="js/jquery-2.1.4.min.js")}}></script>
<!-- //js -->
<!-- banner-bottom-plugin -->
<link href="{{url_for('static',filename="css/owl.carousel.css")}} rel="stylesheet" type="text/css" media="all">
<script src={{url_for('static',filename="js/owl.carousel.js")}}></script>
<script>
	$(document).ready(function() {
		$("#owl-demo").owlCarousel({

		  autoPlay: 3000, //Set AutoPlay to 3 seconds

		  items : 5,
		  itemsDesktop : [640,4],
		  itemsDesktopSmall : [414,3]

		});

	});
</script>
<!-- //banner-bottom-plugin -->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src={{url_for('static',filename="js/move-top.js")}}></script>
<script type="text/javascript" src={{url_for('static',filename="js/easing.js")}}></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>

<body>
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="w3layouts_logo">
				<a href="/"><h1>One<span>Animes</span></h1></a>
			</div>
			<div class="w3_search">

			</div>
			<div class="w3l_sign_in_register">
				<ul>
					{% if session['isValid'] == True %}
					<li><a href="../logout">Logout</a></li>
					{% else %}
					<li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Sign In & Sign Up
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div class="w3_login_module">
							<div class="module form-module">
							  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
								<div class="tooltip">Click Me</div>
							  </div>
							  <div class="form">
								<h3>Login to your account</h3>
								<form action="../login" method="POST">
								  <input type="text" name="Username" placeholder="Username" required="">
								  <input type="password" name="Password" placeholder="Password" required="">
								  <input type="submit" value="Login">
								</form>
							  </div>
							  <div class="form" method="POST">
								<h3>Create an account</h3>
								<form action="register" method="POST">
								  <input type="text" name="Username" placeholder="Username" required="">
								  <input type="password" name="Password" placeholder="Password" required="">
									<p><b>Gender</b></p>
									<input type="radio" id="male" name="gender" value="Male">
  								<label for="male">Male</label><br>
  								<input type="radio" id="female" name="gender" value="Female">
  								<label for="female">Female</label><br><br>
								  <input type="date" name="BirthDate" placeholder="Birth Date" required=""><br><br>
								  <input type="submit" value="Register">
								</form>
							  </div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<script>
		$('.toggle').click(function(){
		  // Switches the Icon
		  $(this).children('i').toggleClass('fa-pencil');
		  // Switches the forms
		  $('.form').animate({
			height: "toggle",
			'padding-top': 'toggle',
			'padding-bottom': 'toggle',
			opacity: "toggle"
		  }, "slow");
		});
	</script>
<!-- //bootstrap-pop-up -->
<!-- nav -->
	<div class="movies_nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							{% if session['isValid'] == True %}
							<li><a href="myList">my list</a></li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>
<!-- //nav -->

<!-- single -->
<div class="single-page-agile-main">
<div class="container">
		<!-- /w3l-medile-movies-grids -->
			<div class="agileits-single-top">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li class="active">Movie Profile</li>
				</ol>
			</div>
			<div class="single-page-agile-info">
                   <!-- /movie-browse-agile -->
                           <div class="show-top-grids-w3lagile">
				<div class="col-sm-8 single-left">
					<div class="song">
						<div class="song-info">
							<h3>{{title}}</h3>
					</div>
						<div class="video-grid-single-page-agileits">
							<div data-video="dLmKio67pVQ" id="video"> <img src={{poster}} width="32" height="64" alt="" class="img-responsive" /> </div>
						</div>
					</div>


					<div class="all-comments">
						<div class="all-comments-info">
							<h4><b>Anime Details:</b></h4><br>
							<div>
							<b>Genre: </b>{{genre}}<br>
							<b>Rating: </b>{{rating}}<br>
							<b>Premiered: </b>{{premiered}}<br>
							<b>Status: </b>{{status}}<br>
							<b>Episodes: </b>{{episodes}}<br>
							<b>Score: </b>{{score}}<br>

							</div>
							<div class="agile-info-wthree-box">
								{% if session['isValid'] == True %}
								<form action='addtolist' method="POST">
									<input type="submit" value="Add to List">
									</form>
									<form action='removefromlist' method="POST">
									<input type="submit" value="Remove from List">
									<div class="clearfix"> </div>
								</form>
								{% endif %}
							</div>
						</div>
						<div class="media-grids">


						</div>
					</div>
				</div>
				<div class="col-md-4 single-right">
					<h3>Recommendation</h3>

					<div class="single-grid-right">

						{% for u in list %}
						<div class="single-right-grids">
							<div class="col-md-4 single-right-grid-left">
								<a href="#"><img src={{u.get('url')}} alt="" /></a>
							</div>
							<div class="col-md-8 single-right-grid-right">
								<a href="#" class="title"><b>title:</b> {{u.get('title')}}</a>
								<p class="author"><a href="#" class="author"><b>reccomendation count:</b> {{u.get('recc')}}</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						{% endfor %}
					</div>
				</div>



				<div class="clearfix"> </div>
			</div>
				<!-- //movie-browse-agile -->

	<!-- footer -->
		<div class="footer">
			<div class="container">
				<div class="col-md-5 w3ls_footer_grid1_left">
					<p>&copy; 2020 One Animes. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
				</div>
	<!-- //footer -->
	<!-- Bootstrap Core JavaScript -->
	<script src={{url_for('static',filename="js/bootstrap.min.js")}}></script>
	<script>
	$(document).ready(function(){
	    $(".dropdown").hover(
	        function() {
	            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
	            $(this).toggleClass('open');
	        },
	        function() {
	            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
	            $(this).toggleClass('open');
	        }
	    );
	});
	</script>
	<!-- //Bootstrap Core JavaScript -->
	<!-- here stars scrolling icon -->
		<script type="text/javascript">
			$(document).ready(function() {
				/*
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear'
					};
				*/

				$().UItoTop({ easingType: 'easeOutQuart' });

				});
		</script>
	<!-- //here ends scrolling icon -->
	</body>
	</html>
